<div class="row">
  <div class="col-xs-12">
    <h2>Comments:</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="list-group-item">
      <div class="row">
        <div class="col-xs-1">
          <span>#id</span>
        </div>
        <div class="col-xs-9">
          <p class="list-group-item-text">User name: text..</p>
          <p class="list-group-item-text">Message: text...</p>
        </div>
        <div class="col-xs-2">
          <div class="btn-group-vertical">
            <button type="button" class="pull-right btn btn-primary">Edit</button>
            <button type="button" class="pull-right btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-xs-12">
          <h2>Form:</h2>
        </div>
        <div class="col-xs-12">
          <label for="userName">User Name</label>
          <input type="text" id="userName" class="form-control" placeholder="Alex">
          <label for="message">Message</label>
          <textarea rows="5" id="message" class="form-control" placeholder="Write some text here..."></textarea>
          <button type="button" class="btn btn-success pull-right" id="btn-form-add">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
